body { 
  background-color: #F2F6D0 
}
#header {
  height: 600px;
  text-align: center;
  font-family: 'Patua One', serif;
  padding-top: 12%;
  background-image: url("assets/newBackground.png");
}
h1 {
  font-size: 50px;
  width: 800px;
  height: 100px;
  margin: auto;
  padding: 1% 0 1% 0;
  background-color: rgb(150, 143, 105);
}
#articles {
  margin-top: 2%;
  height: auto;

}
#articles a {
  color: black;
  text-decoration: underline; 
}
#articles button {
  margin-top: 1%;
}
#notes {
  width: 30%;
  height: 600px;
  margin: auto;
}

textarea, input {
  display: block;
  width: 100%;
  background-color: #FCF5C7;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}
#footer {
  background-color:black;
  font-family: 'Georgia', Times, Times New Roman, serif; 
  color: #ffffff;  
  height: 50px;
}